{
    "namjeshippool": 
    [
        [
            0,
            [
                //teleporter
                {"item": {"name": "namje_shipteleporter_1"}, "price" : 10000 },
                //pilot
                {"item": {"name": "aviancaptainschair"}, "price" : 250 },
                {"item": {"name": "humancaptainschair"}, "price" : 250 },
                {"item": {"name": "apexcaptainschair"}, "price" : 250 },
                {"item": {"name": "novakidcaptainschair"}, "price" : 250 },
                {"item": {"name": "glitchcaptainschair"}, "price" : 250 },
                {"item": {"name": "hylotlcaptainschair"}, "price" : 250 },
                {"item": {"name": "florancaptainschair"}, "price" : 250 },
                //SAIL
                {"item": {"name": "namje_techstation1"}, "price" : 1000 },
                //fuel hatch
                {"item": {"name": "namje_fuelhatch_1v2"}, "price" : 750 },
                {"item": {"name": "namje_fuelhatch_1"}, "price" : 750 },
                {"item": {"name": "avianfuelhatch"}, "price" : 750 },
                {"item": {"name": "humanfuelhatch"}, "price" : 750 },
                {"item": {"name": "apexfuelhatch"}, "price" : 750 },
                {"item": {"name": "novakidfuelhatch"}, "price" : 750 },
                {"item": {"name": "glitchfuelhatch"}, "price" : 750 },
                {"item": {"name": "hylotlfuelhatch"}, "price" : 750 },
                {"item": {"name": "floranfuelhatch"}, "price" : 750 },
                //cargo hold
                {"item": {"name": "namje_cargohold_shiplocker_2"}, "price" : 300 },
                {"item": {"name": "namje_cargohold_shiplocker_1v2"}, "price" : 300 },
                {"item": {"name": "namje_cargohold_shiplocker_1"}, "price" : 300 },
                //misc
                {"item": {"name": "namje_lavatory_1"}, "price" : 100 },
                {"item": {"name": "boosterflame"}, "price" : 100 },
                {"item": {"name": "namje_smallboosterflame"}, "price" : 100 }
            ]
        ]
    ]
}