{
    "home_flavor_text" : "^os_text_color;sailOS^reset;\n^accent2_text_color;User:^reset; ^main_text_color;%s^reset;\n^accent_text_color;Life Support:^reset; ^success_text_color;online^reset;\n^accent_text_color;Thrusters:^reset; %s\n^accent_text_color;FTL Drive:^reset; %s\n^accent_text_color;Teleporter:^reset; %s\n^accent_text_color;Gravity:^reset; ^success_text_color;online^reset;\n",
    "home_fetch" : "^os_text_color;$ fetch^reset;",
    "home_status_repaired" : "^accent_text_color;> Systems operational. The entire universe is accessible.",
    "home_status_warning" : "^warn_text_color;> System damage detected. Ship repairs are required.",

    "mission_info" : "^os_text_color;> Mission information will be displayed here.",
    "mission_replay_header" : "^main_text_color;Replays",
    "mission_replay_desc" : "^accent2_text_color;[Replay]^reset; ",

    "crew_info" : "^os_text_color;> Crew member information will be displayed here."
}