{
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader": "/interface/namje_sail/header.png",
            "fileBody": "/interface/namje_sail/body.png",
            "fileFooter": "/interface/namje_sail/footer.png"
        },
        "close": {
            "type": "button",
            "base": "/interface/x.png",
            "hover": "/interface/xhover.png",
            "pressed": "/interface/xpress.png",
            "pressedOffset": [0, 0],
            "position": [281, 211],
            "callback": "close"
        },
        "windowtitle": {
            "type": "title",
            "title": "S.A.I.L.",
            "subtitle": "Ship-based Artificial Intelligence Lattice",
            "position": [0, 254],
            "icon": {
                "type": "image",
                "file": "/interface/ai/AIicon.png",
                "position": [0, -20],
                "zlevel": -1
            }
        },
        "back_button" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 55],
            "pressedOffset" : [0, 0],
            "caption" : "BACK",

            "callback" : "button_press"
        },
        "show_missions" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 85], 
            "pressedOffset" : [0, 0],
            "caption" : "MISSIONS",

            "callback" : "button_press"
        },
        "show_crew" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 70],
            "pressedOffset" : [0, 0],
            "caption" : "CREW",

            "callback" : "button_press"
        },
        "show_ship_info" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 55],
            "pressedOffset" : [0, 0],
            "caption" : "SHIP INFO",

            "callback" : "button_press"
        },
        "show_settings" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 40],
            "pressedOffset" : [0, 0],
            "caption" : "SETTINGS",

            "callback" : "button_press"
        },
        "directory_text" : {
            "type" : "label",
            "zlevel" : 4,
            "position" : [111, 190],
            "value" : "root/home"
        },
        "main" : {
            "type" : "scrollArea",
			"rect" : [110, 45, 286, 187],
            "children" : {
                "mission_list" : {
					"type" : "list",
					"schema" : {
                        "selectedBG" : "/interface/ai/listitemscrollselected.png",
						"unselectedBG" : "/interface/ai/listitemscrollhover.png",
                        "spacing" : [0, 1],
                        "memberSize" : [128, 21],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/interface/ai/listitemscroll.png",
                                "position" : [0, 0],
                                "zlevel" : -1
                            },
                            "itemName" : {
                                "type" : "label",
                                "position" : [21, 10],
                                "hAnchor" : "left",
                                "vAnchor" : "mid",
                                "lineSpacing" : 1.0,
                                "wrapWidth" : 95
                            },
                            "itemIcon" : {
                                "type" : "image",
                                "position" : [3, 3]
                            }
                        }
                    }
                }
            }
        }

    },

    "scriptWidgetCallbacks" : [ "button_press" ],
    "scripts" : ["/interface/namje_sail/namje_sail.lua"],
    "scriptDelta" : 1
}