{
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader": "/interface/namje_sail/clearheader.png",
            "fileBody": "/interface/namje_sail/clearbody.png",
            "fileFooter": "/interface/namje_sail/clearfooter.png"
        },
        "close": {
            "type": "button",
            "base": "/interface/x.png",
            "hover": "/interface/xhover.png",
            "pressed": "/interface/xpress.png",
            "pressedOffset": [0, 0],
            "position": [287, 217],
            "callback": "close"
        },
        "show_home": {
            "type": "button",
            "base": "/interface/namje_sail/homebutton.png",
            "hover": "/interface/namje_sail/homebuttonhover.png",
            "pressed": "/interface/namje_sail/homebuttonpress.png",
            "pressedOffset": [0, 0],
            "position": [272, 217],
            "callback": "swap_tabs"
        },
        "fake_window_icon" : {
            "type" : "image",
            "file" : "/interface/ai/AIicon.png",
            "position" : [4, 211],
            "zlevel" : 0
        },
        "fake_window_title" : {
            "type" : "label",
            "position" : [29, 223],
            "hAnchor" : "left",
            "value" : "^shadow;S.A.I.L."
        },
        "fake_window_subtitle" : {
            "type" : "label",
            "position" : [29, 213],
            "hAnchor" : "left",
            "value" : "^shadow;^gray;Ship-based Artificial Intelligence Lattice"
        },
        "fake_footer" : {
            "type" : "image",
            "file" : "/interface/namje_sail/footer.png",
            "position" : [0, 0],
            "zlevel" : -1
        },
        "fake_body" : {
            "type" : "image",
            "file" : "/interface/namje_sail/body.png",
            "position" : [0, 35],
            "zlevel" : -1
        },
        "fake_header" : {
            "type" : "image",
            "file" : "/interface/namje_sail/header.png",
            "position" : [0, 210],
            "zlevel" : -1
        },
        "sail_portrait" : {
            "type" : "canvas",
            "rect" : [7, 111, 94, 202],
            "zlevel": 1
        },
        "show_missions" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 88], 
            "pressedOffset" : [0, 0],
            "caption" : "MISSIONS",

            "callback" : "swap_tabs"
        },
        "show_crew" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 73],
            "pressedOffset" : [0, 0],
            "caption" : "CREW",

            "callback" : "swap_tabs"
        },
        "show_ship_info" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 58],
            "pressedOffset" : [0, 0],
            "caption" : "SHIP INFO",

            "callback" : "swap_tabs"
        },
        "show_settings" : {
            "zlevel" : 1,
            "type" : "button",
            "base" : "/interface/ai/leftmenuup.png",
            "hover" : "/interface/ai/leftmenuhover.png",
            "pressed" : "/interface/ai/leftmenudown.png",
            "position" : [10, 43],
            "pressedOffset" : [0, 0],
            "caption" : "SETTINGS",

            "callback" : "swap_tabs"
        },
        "directory_text" : {
            "type" : "label",
            "zlevel" : 4,
            "position" : [111, 196],
            "value" : "root/"
        },
        "main" : {
            "type" : "layout",
            "layoutType" : "basic",
			"rect" : [110, 44, 293, 193],
            "children" : {
                "home" : {
                    "type" : "layout",
                    "layoutType" : "basic",
                    "rect" : [0, 0, 183, 193],
                    "children" : {
                        "fetch" : {
                            "type" : "label",
                            "position" : [7, 147],
                            "hAnchor" : "left",
                            "vAnchor" : "top",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 170
                        },
                        "ascii" : {
                            "type" : "label",
                            "position" : [7, 139.5],
                            "hAnchor" : "left",
                            "vAnchor" : "top",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 170
                        },
                        "flavor_text" : {
                            "type" : "label",
                            "position" : [96, 139.5],
                            "hAnchor" : "left",
                            "vAnchor" : "top",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 80
                        },
                        "ai_dialog" : {
                            "type" : "label",
                            "position" : [7, 50.5],
                            "hAnchor" : "left",
                            "vAnchor" : "top",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 170
                        }
                    }
                },
                "missions" : {
                    "type" : "layout",
                    "layoutType" : "basic",
                    "rect" : [0, 0, 183, 193],
                    "children" : {
                        "mission_info" : {
                            "type" : "layout",
                            "layoutType" : "basic",
                            "rect" : [0, 0, 183, 67],
                            "children" : {
                                "background" : {
                                    "type" : "image",
                                    "file" : "/interface/namje_sail/missioninfoback.png",
                                    "position" : [0, 0],
                                    "zlevel" : -1
                                },
                                "description" : {
                                    "type" : "label",
                                    "position" : [3, 62],
                                    "hAnchor" : "left",
                                    "vAnchor" : "top",
                                    "lineSpacing" : 1.0,
                                    "wrapWidth" : 176
                                },
                                "start_mission" : {
                                    "type" : "button",
                                    "base" : "/interface/namje_sail/deploybutton.png",
                                    "hover" : "/interface/namje_sail/deploybuttonhover.png",
                                    "pressed" : "/interface/namje_sail/deploybuttonpress.png",
                                    "disabledImage" : "/interface/namje_sail/deploybuttondisabled.png",
                                    "position" : [48.5, 1],
                                    "pressedOffset" : [0, 0],
                                    "callback" : "start_mission"
                                }
                            }
                        },
                        "mission_select" : {
                            "type" : "scrollArea",
                            "rect" : [0, 68, 183, 149],
                            "children" : {
                                "mission_list" : {
                                    "type" : "list",
                                    "callback" : "select_mission",
                                    "schema" : {
                                        "spacing" : [0, 1],
                                        "memberSize" : [172, 21],
                                        "listTemplate" : {
                                            "item_background" : {
                                                "type" : "image",
                                                "file" : "/interface/namje_sail/listitemscrollsmall.png",
                                                "position" : [0, 0],
                                                "zlevel" : -1
                                            },
                                            "header_back" : {
                                                "type" : "image",
                                                "file" : "/interface/namje_sail/replayheader.png",
                                                "position" : [0, 0],
                                                "zlevel" : -1
                                            },
                                            "item_name" : {
                                                "type" : "label",
                                                "position" : [21, 10],
                                                "hAnchor" : "left",
                                                "vAnchor" : "mid",
                                                "lineSpacing" : 1.0,
                                                "wrapWidth" : 137
                                            },
                                            "item_icon" : {
                                                "type" : "image",
                                                "position" : [3, 3]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "crew" : {
                    "type" : "layout",
                    "layoutType" : "basic",
                    "rect" : [0, 0, 183, 193],
                    "children" : {
                        "crew_info" : {
                            "type" : "layout",
                            "layoutType" : "basic",
                            "rect" : [0, 0, 183, 67],
                            "children" : {
                                "background" : {
                                    "type" : "image",
                                    "file" : "/interface/namje_sail/missioninfoback.png",
                                    "position" : [0, 0],
                                    "zlevel" : -1
                                },
                                "description" : {
                                    "type" : "label",
                                    "position" : [3, 62],
                                    "hAnchor" : "left",
                                    "vAnchor" : "top",
                                    "lineSpacing" : 1.0,
                                    "wrapWidth" : 176
                                },
                                "dismiss_crew" : {
                                    "type" : "button",
                                    "base" : "/interface/namje_sail/dismissbutton.png",
                                    "hover" : "/interface/namje_sail/dismissbuttonhover.png",
                                    "pressed" : "/interface/namje_sail/dismissbuttonpress.png",
                                    "disabledImage" : "/interface/namje_sail/dismissbuttondisabled.png",
                                    "position" : [48.5, 1],
                                    "pressedOffset" : [0, 0],
                                    "callback" : "dismiss_crew"
                                }
                            }
                        },
                        "crew_select" : {
                            "type" : "scrollArea",
                            "rect" : [0, 68, 183, 149],
                            "children" : {
                                "crew_list" : {
                                    "type" : "list",
                                    "callback" : "select_crew",
                                    "schema" : {
                                        "spacing" : [0, 1],
                                        "memberSize" : [172, 21],
                                        "listTemplate" : {
                                            "item_background" : {
                                                "type" : "image",
                                                "file" : "/interface/namje_sail/listitemscrollsmall.png",
                                                "position" : [0, 0],
                                                "zlevel" : -1
                                            },
                                            "item_name" : {
                                                "type" : "label",
                                                "position" : [21, 10],
                                                "hAnchor" : "left",
                                                "vAnchor" : "mid",
                                                "lineSpacing" : 1.0,
                                                "wrapWidth" : 137
                                            },
                                            "item_icon" : {
                                                "type" : "image",
                                                "position" : [3, 3]
                                            },
                                            "portrait" : {
                                                "type" : "canvas",
                                                "rect" : [3, 4, 17, 17]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "ship_info" : {
                    "type" : "layout",
                    "layoutType" : "basic",
                    "rect" : [0, 0, 183, 193],
                    "children" : {
                        "info_area" : {
                            "type" : "layout",
                            "layoutType" : "basic",
                            "children" : {
                            }
                        }
                    }
                },
                "settings" : {
                    "type" : "layout",
                    "layoutType" : "basic",
                    "rect" : [0, 0, 183, 193],
                    "children" : {
                        "settings_area" : {
                            "type" : "layout",
                            "layoutType" : "basic",
                            "rect" : [0, 1, 183, 149],
                            "children" : {
                                "lbl_theme" : {
                                    "type" : "label",
                                    "position" : [5, 135],
                                    "hAnchor" : "left",
                                    "value" : "S.A.I.L THEME"
                                },
                                "button_theme" : {
                                    "zlevel" : 1,
                                    "type" : "button",
                                    "base" : "/interface/namje_sail/settingsbutton.png",
                                    "hover" : "/interface/namje_sail/settingsbuttonhover.png",
                                    "pressed" : "/interface/namje_sail/settingsbutton.png",
                                    "position" : [79, 135],
                                    "pressedOffset" : [0, 0],
                                    "caption" : "default",

                                    "callback" : "change_setting"
                                }

                            }
                        }
                    }
                }
            }
        }

    },

    "scriptWidgetCallbacks" : [ "swap_tabs", "select_mission", "start_mission", "dismiss_crew", "select_crew", "change_setting" ],
    "scripts" : ["/interface/namje_sail/namje_sail.lua"],
    "scriptDelta" : 1
}