{
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader": "/interface/ai/header.png",
            "fileBody": "/interface/ai/body.png",
            "fileFooter": "/interface/ai/footer.png"
        },
        "close": {
            "type": "button",
            "base": "/interface/x.png",
            "hover": "/interface/xhover.png",
            "pressed": "/interface/xpress.png",
            "pressedOffset": [0, 0],
            "position": [231, 181],
            "callback": "close"
        },
        "windowtitle": {
            "type": "title",
            "title": "S.A.I.L.",
            "subtitle": "Ship-based Artificial Intelligence Lattice",
            "position": [0, 254],
            "icon": {
                "type": "image",
                "file": "/interface/ai/AIicon.png",
                "position": [0, -20],
                "zlevel": -1
            }
        }
    },
    "scripts" : ["/interface/namje_sail/namje_sail.lua"],
    "scriptDelta" : 1
}