{
    "sail_options": [
        { "title": "S.A.I.L THEME", "icon": "/items/tools/paintergunicon.png", "desc": "Default", "callback": "button_theme" },
        { "title": "Save Ship Template", "icon": "/items/active/namje_saveshiptemplate/namje_saveshiptemplate.png", "desc": "Save your ship as a code", "callback": "ScriptPane", "args": "interface/scripted/namje_existingchar/namje_existingchar.config" }
    ]
}