{
    "sail_options": [
        { "title": "S.A.I.L THEME", "icon": "/items/tools/paintergunicon.png", "desc": "Default", "callback": "button_theme" },
        { "title": "Save Ship Template", "icon": "/interface/scripted/namje_saveshiptemplate/namje_saveshiptemplate.png", "desc": "Save your current ship as a code", "callback": "ScriptPane", "args": "interface/scripted/namje_saveshiptemplate/namje_saveshiptemplate.config" },
        { "title": "Ship Pet", "icon": "/items/augments/pet/default.png", "desc": "Manage your ship pet", "callback": "ScriptPane", "args": "interface/scripted/namje_sailpet/namje_sailpet.config" }
    ]
}