{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/namje_shipslotselect/header.png",
      "fileBody" : "/interface/namje_shipslotselect/body.png",
      "fileFooter" : "/interface/namje_shipslotselect/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Salvaging Ship",
      "subtitle" : " Are you sure?",
      "icon" : {
        "type" : "image",
        "file" : "/interface/namje_shipservice/icon.png",
        "zlevel" : -1
      }
    },

    "lbl_desc" : {
      "type" : "label",
      "position" : [15, 210],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "Salvaging ships is ^red;irreversible!^reset;\n\nYour ship will be sold for a fraction of the original ship price, and ^red;all objects, blocks and creatures on the ship will be lost.^reset;\n\nShip fuel, items in containers, items in the cargo hold, and ship modules will be returned to you in the form of a box.\n\nIt is recommended to empty your ship of all items and valuable objects (such as crafting stations) before salvaging.\n\n^orange;Are you sure you want to salvage this ship?"
    },

    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [15, 35],
      "pressedOffset" : [0, 0],
      "callback" : "confirm"
    },

    "return" : {
      "type" : "button",
      "base" : "/interface/title/cancelup.png",
      "hover" : "/interface/title/cancelover.png",
      "pressed" : "/interface/title/cancelover.png",
      "pressedOffset" : [0, 0],
      "position" : [75, 35],
      "callback" : "cancel"

    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/namje_shiplicense/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "confirm",
    "cancel"
  ],

  "scripts" : ["/interface/namje_salvage/namje_salvage.lua"],
  "scriptDelta" : 5
}
