{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/playerstationconsole/header.png",
      "fileBody" : "/interface/scripted/playerstationconsole/body.png",
      "fileFooter" : "/interface/scripted/playerstationconsole/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Ship Modules",
      "subtitle" : "Add slots at a ship service technician",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_sailmodules/icon.png",
        "zlevel" : -1
      }
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    },

    "disabled_mod_slots" : {
      "type" : "list",
      "position" : [47, 75],
      "fillDown" : true,
      "scissoring" : false,
      "columns" : 9999,
      "mouseTransparent" : true,
      "schema" : {
        "spacing" : [1, 1],
        "memberSize" : [20, 22],
        "listTemplate" : {
          "slot": {
            "mouseTransparent" : true,
            "type" : "image",
            "file" : "/interface/namje_shipservice/upgradelocked.png",
            "position" : [0, 0],
            "zlevel" : 2,
            "visible" : false
          }
        }
      }
    },
    "module_slots" : {
      "type" : "list",
      "position" : [47, 75],
      "fillDown" : true,
      "scissoring" : false,
      "columns" : 9999,
      "schema" : {
        "spacing" : [1, 1],
        "memberSize" : [20, 22],
        "listTemplate" : {
          "slot": {
            "type": "itemslot",
            "rightClickCallback" : "null",
            "position": [0, 0],
            "showCount": false,
            "showDurability": false,
            "zlevel" : 3,
            "backingImage": "/interface/inventory/empty.png"
          }
        }
      }
    },
    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [71, 30],
      "pressedOffset" : [0, 0],
      "callback" : "confirm"
    }
  },

  "scriptWidgetCallbacks" : [
    "confirm"
  ],

  "scripts" : ["/interface/scripted/namje_sailmodules/namje_sailmodules.lua"],
  "scriptDelta" : 5
}
