{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/playerstationconsole/header.png",
      "fileBody" : "/interface/scripted/playerstationconsole/body.png",
      "fileFooter" : "/interface/scripted/playerstationconsole/footer.png"
    },

    "lbl" : {
      "type" : "label",
      "position" : [100, 53],
      "hAnchor" : "mid",
      "wrapWidth" : 170,
      "fontSize" : 7,
      "value" : "Ship modules have been changed. Your character will now refresh to apply changes."
    },

    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [71, 30],
      "pressedOffset" : [0, 0],
      "callback" : "confirm"
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "confirm"
  ],

  "scripts" : ["/interface/scripted/namje_sailmodules/namje_refresh.lua"],
  "scriptDelta" : 5
}
