{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/playerstationconsole/header.png",
      "fileBody" : "/interface/scripted/playerstationconsole/body.png",
      "fileFooter" : "/interface/scripted/playerstationconsole/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Ship Pet",
      "subtitle" : "Ohana means family",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_sailpet/icon.png",
        "zlevel" : -1
      }
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    },

    "slot": {
      "type": "itemslot",
      "rightClickCallback" : "null",
      "position": [10, 54],
      "showCount": false,
      "showDurability": false,
      "zlevel" : 1,
      "backingImage": "/interface/inventory/empty.png"
    },

    "lbl_pet" : {
      "type" : "label",
      "position" : [35, 58],
      "hAnchor" : "left",
      "wrapWidth" : 170,
      "fontSize" : 9,
      "value" : "Pet: None"
    },
    "lbl_seed" : {
      "type" : "label",
      "position" : [35, 32],
      "hAnchor" : "left",
      "wrapWidth" : 170,
      "fontSize" : 9,
      "value" : "Seed: N/A"
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [11, 28],
      "callback" : "randomize"
    }
  },

  "scriptWidgetCallbacks" : [
    "slot", "randomize"
  ],

  "scripts" : ["/interface/scripted/namje_sailpet/namje_sailpet.lua"],
  "scriptDelta" : 5
}
