{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/ship_license/header.png",
      "fileBody" : "/interface/scripted/ship_license/body.png",
      "fileFooter" : "/interface/scripted/ship_license/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Ship Swap Contract",
      "subtitle" : " That new ship smell",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/ship_license/namje_ship_swap_confirm_icon.png",
        "zlevel" : -1
      }
    },

    "lblDesc1" : {
      "type" : "label",
      "position" : [15, 202],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "Ship trade-ins are ^red;irreversible.^reset;"
    },

    "lblDesc2" : {
      "type" : "label",
      "position" : [15, 170],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "You will lose your current ship, dropped items on your ship, and objects such as furniture, ^orange;crafting stations, and crew beds.^reset;"
    },

    "lblDesc3" : {
      "type" : "label",
      "position" : [15, 130],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "Any items in storage containers will be given to you in the form of a cargo box, ^red;however this is unreliable and some items may get lost in the moving process.^reset;"
    },

    "lblDesc4" : {
      "type" : "label",
      "position" : [15, 95],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "It is recommended to empty your ship of all items and valuable objects before swapping ships."
    },

    "lblDesc5" : {
      "type" : "label",
      "position" : [15, 80],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "Are you sure you want to swap ships?"
    },

    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [15, 35],
      "pressedOffset" : [0, 0],
      "callback" : "swapShip"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/title/cancelup.png",
      "hover" : "/interface/title/cancelover.png",
      "pressed" : "/interface/title/cancelover.png",
      "pressedOffset" : [0, 0],
      "position" : [100, 35]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/ship_license/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "swapShip"
  ],

  "scripts" : ["/interface/scripted/ship_license/namje_ship_swap_confirm.lua"],
  "scriptDelta" : 5
}
