{
    "ship" : "namje_byos_testship", // the dungeon id

    "name" : "Namje BYOS Testship", // display name
    "description" : "A test ship with no room. Don't use!", // display desc
    "manufacturer" : "Namje Staryards", // cosmetic flavor text, appears under the name
    "manufacturer_icon" : "/path/to/icon", // square sized icon that displays in the preview
    "recommended_crew_size" : "2-3", // cosmetic flavor text, max number should be the max crew size obviously..

    "base_stats" : { //vanilla ship stats
        "capabilities" : ["teleport", "planetTravel", "systemTravel"],
        "fuel_efficiency" : 0,
        "max_fuel" : 1111,
        "ship_speed" : 25,
        "crew_size" : 2
    },
    "atelier_stats" : { //atelier ship stats
        "cargo_hold_size" : 64, // currently just flavor text, but will be used for the cargo hold size in the future
        "teleporter_position" : [272, 232] // local teleporter position, will be used to offset the position of the ship so that the teleporter is at 1024,1024
    }
}