{
    
    "id" : "namje_startership",

    // ingame name of the ship that will be displayed, currently only used for ship licenses
    "name" : "AOM Kellion",
    // description is currently only used for auto generated licenses.
    "description" : "An outdated maintenance shuttle used by the Protectorate. This one was carrying capsules to be sent out into the galaxy. \nCramped and not suited for long voyages, plus it was damaged in the escape... but it should be enough to get you started.",
    // manufacturer name and icon are just flavor text. they are both only displayed in ship licenses.
    "manufacturer" : "Terrene Protectorate",
    "manufacturer_icon" : "/namje_ships/manufacturers/protectorate.png",
    // recommended crew size also just license flavor text. it does not affect the ship in any way. probably shouldn't make it higher than the set crew size.
    "recommended_crew_size" : "1-2",

    // if you *DID NOT* include this mod as a dependency and set your mod's priority to less than this mod's priority (e.g 49), 
    // then namjeShipwright will automatically create a ship license for any ship with this set to true.
    "auto_create_license" : true,
    // the price of the ship in pixels. this is only used for the ship license item if you enabled auto_create_license.
    "price" : 4000,
    // adds the ship license to the penguin bay shop. this is only used if you enabled auto_create_license.
    "add_to_penguin_bay" : false,
    // the ship license icon. this is only used if you enabled auto_create_license. exclude to use the default icon.
    "license_icon" : "/namje_ships/ships/namje_startership/license_icon.png",

    // these are vanilla Starbound ship stats. For capabilities, you generally want to include "teleport", "planetTravel", and "systemTravel" if you
    // are making a regular FTL ship.
    "base_stats" : {
        "capabilities" : ["teleport", "planetTravel", "systemTravel"],
        "fuel_efficiency" : 0,
        "max_fuel" : 1000,
        "ship_speed" : 25,
        "crew_size" : 2
    },
    "atelier_stats" : {
        // the size of the cargo hold. the cargo hold is a custom storage tied to the shipworld. it is not a conventional container object.
        // changing to a ship with a smaller cargo hold size will not remove items from the cargo hold, but it will prevent you from adding more items to it.
        "cargo_size" : 90,
        // the center position of the ship. this is used for offseting the dungeon's position when the ship is created. you can find this position in Tiled.
        "ship_center_pos" : [74, 42]
    },

    // the dungeonid of the ship.
    "ship" : "namje_startership"
}