{
    "ship" : "namje_byos_testship",

    "name" : "Namje BYOS Testship",
    "description" : "A test ship with no room. Don't use!",
    "manufacturer" : "Namje Staryards",
    "manufacturer_icon" : "/path/to/icon",
    "recommended_crew_size" : "2-3",

    "base_stats" : {
        "capabilities" : ["teleport", "planetTravel", "systemTravel"],
        "fuel_efficiency" : 0,
        "max_fuel" : 1111,
        "ship_speed" : 25,
        "crew_size" : 2
    },
    "atelier_stats" : {
        "cargo_hold_size" : 64,
        "teleporter_position" : [36, 29]
    }
}