{
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader" : "/interface/namje_cargohold/chestheader.png",
            "fileBody" : "/interface/namje_cargohold/body.png",
            "fileFooter" : "/interface/namje_cargohold/chestfooter.png"
        },
        "cargoHoldScrollArea" : {
            "type": "scrollArea",
            "rect": [5, 39, 270, 237],
            "children" : {
                "itemList" : {
                    "type" : "list",
                    "callback" : "null",
                    "schema" : {
                        "spacing" : [0, 1],
                        "memberSize" : [200, 20],
                        "listTemplate" : {
                            "slot1": {
                                "type": "itemslot",
                                "position": [0, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot2": {
                                "type": "itemslot",
                                "position": [19, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot3": {
                                "type": "itemslot",
                                "position": [38, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot4": {
                                "type": "itemslot",
                                "position": [57, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot5": {
                                "type": "itemslot",
                                "position": [76, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot6": {
                                "type": "itemslot",
                                "position": [95, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot7": {
                                "type": "itemslot",
                                "position": [114, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot8": {
                                "type": "itemslot",
                                "position": [133, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot9": {
                                "type": "itemslot",
                                "position": [152, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            },
                            "slot10": {
                                "type": "itemslot",
                                "position": [171, 2],
                                "showCount": true,
                                "callback": "take_item"
                                
                            }
                        }
                    }
                }
            }
        },
        "count" : {
            "type" : "label",
            "value" : "CAPACITY 0/100",
            "hAnchor" : "mid",
            "position" : [140, 240]
        },
        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [257, 257]
        }
    },
    "scripts": ["/interface/namje_cargohold/namje_cargohold_ui.lua"],
    "scriptDelta": 5
}