{
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader" : "/interface/namje_cargohold/chestheader.png",
            "fileBody" : "/interface/namje_cargohold/body.png",
            "fileFooter" : "/interface/namje_cargohold/chestfooter.png"
        },
        "windowtitle" : {
            "type" : "title",
            "title" : "Cargo Hold",
            "subtitle" : "Your ship's storage",
            "position" : [-5, 252],
            "icon" : {
                "type" : "image",
                "file" : "/interface/manipulatorupgradeicon.png",
                "position" : [0, -20],
                "zlevel" : -1
            }
        },
        "cargo_scroll" : {
            "type": "scrollArea",
            "rect": [7, 43, 268, 233],
            "children" : {
                "slots" : {
                    "type" : "list",
                    "position" : [30, 30],
                    "columns" : 13,
                    "fillDown" : true,
                    "scissoring" : false,
                    "schema" : {
                        "spacing" : [1, 1],
                        "memberSize" : [18, 18],
                        "listTemplate" : {
                            "slot_1": {
                                "type": "itemslot",
                                "position": [0, 2],
                                "showCount": true,
                                "showDurability": true,
                                "backingImage": "/interface/inventory/empty.png",
                                "callback": "take_item"
                            }
                        }
                    }
                }
            }
        },
        "count" : {
            "type" : "label",
            "value" : "CAPACITY 0/100",
            "hAnchor" : "mid",
            "position" : [140, 240]
        },
        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [257, 257]
        }
    },
    "scripts": ["/interface/namje_cargohold/namje_cargohold_ui.lua"],
    "scriptDelta": 5
}