{
    "openWithInventory" : true,
    "closeWithInventory " : true,
    
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader" : "/interface/namje_cargohold/chestheader.png",
            "fileBody" : "/interface/namje_cargohold/body.png",
            "fileFooter" : "/interface/namje_cargohold/chestfooter.png"
        },
        "windowtitle" : {
            "type" : "title",
            "title" : "Cargo Hold ^yellow;(Beta)",
            "subtitle" : "Your ship's storage",
            "position" : [-5, 252],
            "icon" : {
                "type" : "image",
                "file" : "/interface/manipulatorupgradeicon.png",
                "position" : [0, -20],
                "zlevel" : -1
            }
        },
        "cargo_scroll" : {
            "type": "scrollArea",
            "rect": [7, 43, 304, 233],
            "children" : {
                "slots" : {
                    "type" : "list",
                    "position" : [30, 30],
                    "columns" : 15,
                    "fillDown" : true,
                    "scissoring" : false,
                    "schema" : {
                        "spacing" : [1, 1],
                        "memberSize" : [18, 18],
                        "listTemplate" : {
                            "slot": {
                                "type": "itemslot",
                                "position": [0, 2],
                                "showCount": true,
                                "showDurability": true,
                                "backingImage": "/interface/inventory/empty.png"
                            }
                        }
                    }
                }
            }
        },
        "count" : {
            "type" : "label",
            "value" : "CAPACITY 0/100",
            "hAnchor" : "mid",
            "position" : [158, 240]
        },
        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [293, 257]
        },
        "filter" : {
            "type" : "textbox",
            "position" : [217, 258],
            "hint" : "Search",
            "maxWidth" : 70,
            "escapeKey" : "close",
            "enterKey" : "filter",
            "focus" : false
        },
        "sort" : {
            "type" : "button",
            "base" : "/interface/inventory/sort.png",
            "hover" : "/interface/inventory/sorthover.png",
            "press" : "/interface/inventory/sortpress.png",
            "position" : [293, 12]
        }
    },
    "scriptWidgetCallbacks" : [ "filter", "sort" ],
    "scripts": ["/interface/namje_cargohold/namje_cargohold_ui.lua"],
    "scriptDelta": 5
}