{
    "gui" : {
        "background" : {
            "type" : "background",
            "fileHeader" : "/interface/namje_cargohold/chestheader.png",
            "fileBody" : "/interface/namje_cargohold/body.png",
            "fileFooter" : "/interface/namje_cargohold/chestfooter.png"
        },
        "clear" : {
            "type" : "button",
            "base" : "/interface/button.png",
            "hover" : "/interface/buttonhover.png",
            "press" : "/interface/buttonhover.png",
            "caption" : "Take all",
            "position" : [52, 26]
        },
        "itemGrid" : {
            "type" : "itemgrid",
            "position" : [5, 27],
            "dimensions" : [1, 1],
            "spacing" : [19, 19],
            "backingImage" : "/interface/inventory/empty.png"
        },
        "count" : {
            "type" : "label",
            "value" : "<slots> SLOTS",
            "hAnchor" : "mid",
            "position" : [120, 240]
        },
        "overlay" : {
            "type" : "image",
            "file" : "/interface/chests/shine49andup.png",
            "position" : [0, 56]
        },
        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [143, 257]
        }
    },
    "scripts": ["/interface/namje_cargohold/namje_cargohold.lua"],
    "scriptDelta": 10
}