{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/playerstationconsole/header.png",
      "fileBody" : "/interface/scripted/playerstationconsole/body.png",
      "fileFooter" : "/interface/scripted/playerstationconsole/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Save Ship Template",
      "subtitle" : " Save your ship as a code!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_saveshiptemplate/icon.png",
        "zlevel" : -1
      }
    },

    "lbl_exclude_items" : {
      "type" : "label",
      "position" : [10, 64],
      "hAnchor" : "left",
      "value" : "EXCLUDE CONTAINER ITEMS"
    },

    "btn_exclude_items" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [110, 64],
      "callback" : "set_items"
    },

    "lbl_exclude_mons" : {
      "type" : "label",
      "position" : [10, 54],
      "hAnchor" : "left",
      "value" : "EXCLUDE PETS/MONSTERS"
    },

    "btn_exclude_mons" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [110, 54],
      "callback" : "set_mons"
    },

    "lbl_exclude_npcs" : {
      "type" : "label",
      "position" : [10, 44],
      "hAnchor" : "left",
      "value" : "EXCLUDE NPCS"
    },

    "btn_exclude_npcs" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [65, 44],
      "callback" : "set_npcs"
    },

    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [8, 26],
      "pressedOffset" : [0, 0],
      "callback" : "confirm"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "set_items", "set_npcs", "set_mons", "confirm"
  ],

  "scripts" : ["/interface/scripted/namje_saveshiptemplate/namje_saveshiptemplate.lua"],
  "scriptDelta" : 5
}
