{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/namje_shipservice/header.png",
      "fileBody" : "/interface/namje_shipservice/body.png",
      "fileFooter" : "/interface/namje_shipservice/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [410, 195]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Ship Service Technician",
      "subtitle" : "Upgrade or change your ship's registry. Upgrades are irreversible!",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/namje_shipservice/icon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lbl_ship_name" : {
      "type" : "label",
      "position" : [5, 90],
      "hAnchor" : "left",
      "value" : "^gray;Name:"
    },
    "tb_ship_name" : {
      "type" : "textbox",
      "position" : [43, 90],
      "callback" : "tb_ship_name",
      "textAlign" : "left",
      "maxWidth" : 130,
      "regex" : "[a-zA-Z0-9 '-?!.]{0,25}",
      "hint" : "",
      "blur" : "tb_revert"
    },
    "img_ship_name" : {
      "type" : "image",
      "position" : [40, 89],
      "file" : "/interface/namje_shipservice/namebox.png",
      "zlevel" : -3
    },
    "img_icon" : {
      "type" : "image",
      "position" : [49, 73],
      "file" : "/namje_ships/ship_icons/generic_1.png"
    },
    "lbl_icon" : {
      "type" : "label",
      "position" : [5, 84],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^gray;Icon:"
    },
    "spin_count" : {
      "type" : "spinner",
      "position" : [40, 76],
      "upOffset" : 26
    },
    "lbl_stats_1" : {
      "type" : "label",
      "position" : [5, 69],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^gray;Fuel Eff.\nMax Fuel\nShip Speed"
    },
    "lbl_stats_1_num" : {
      "type" : "label",
      "position" : [90, 69],
      "hAnchor" : "right",
      "vAnchor" : "top",
      "value" : "^white;100%\n9999\n100"
    },
    "lbl_stats_2" : {
      "type" : "label",
      "position" : [98, 69],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^gray;Crew Cap\nCargo Cap\nModule Slots"
    },
    "lbl_stats_2_num" : {
      "type" : "label",
      "position" : [183, 69],
      "hAnchor" : "right",
      "vAnchor" : "top",
      "value" : "^white;12\n250"
    },
    "btn_checkout" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [3, 22],
      "caption" : "CHECKOUT",
      "callback" : "checkout"
    },
    "img_ply_money" : {
      "type" : "image",
      "position" : [60, 25],
      "file" : "/interface/money.png"
    },
    "lbl_ply_money" : {
      "type" : "label",
      "position" : [74, 25],
      "hAnchor" : "left",
      "value" : "0"
    },
    "img_ply_upgmod" : {
      "type" : "image",
      "position" : [115, 21],
      "file" : "/interface/namje_shipservice/upgrademodule.png"
    },
    "lbl_ply_upgmod" : {
      "type" : "label",
      "position" : [139, 25],
      "hAnchor" : "left",
      "value" : "0"
    },
    "slot_list" : {
      "type" : "scrollArea",
      "rect" : [4, 109, 186, 182],
      "children" : {
        "slot_item_list" : {
          "type" : "list",
          "callback" : "select_slot",
          "schema" : {
            "selectedBG" : "/interface/warping/warpentryselected.png",
            "unselectedBG" : "/interface/warping/warpentry.png",
            "spacing" : [0, 2],
            "memberSize" : [170, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/warping/warpentry.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "position" : [2, 2],
                "file" : "/interface/bookmarks/icons/ship.png",
                "mouseTransparent" : true
              },
              "name" : {
                "type" : "label",
                "position" : [23, 10],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "Empty Slot",
                "color" : [255, 255, 255],
                "mouseTransparent" : true
              },
              "model" : {
                "type" : "label",
                "position" : [23, 2],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "",
                "color" : [180, 180, 180],
                "mouseTransparent" : true
              }
            }
          }
        }
      }
    },
    "lbl_upg_info" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [305, 30],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "upg_screen_visible" : {
      "type" : "image",
      "file" : "/interface/namje_shipservice/selectship.png",
      "position" : [186, 37],
      "zlevel" : 4,
      "visible" : true
    },

    "btn_upg_max_fuel" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png",
      "position" : [224, 158],
      "pressedOffset" : [0, 0],
      "callback" : "select_upgrade"
    },
    "btn_upg_fuel_efficiency" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png",
      "position" : [224, 77],
      "pressedOffset" : [0, 0],
      "callback" : "select_upgrade"
    },
    "btn_upg_ship_speed" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png",
      "position" : [224, 50],
      "pressedOffset" : [0, 0],
      "callback" : "select_upgrade"
    },
    "btn_upg_cargo_size" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png",
      "position" : [323, 77],
      "pressedOffset" : [0, 0],
      "callback" : "select_upgrade"
    },
    "btn_upg_crew_size" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png",
      "position" : [323, 50],
      "pressedOffset" : [0, 0],
      "callback" : "select_upgrade"
    },
    "btn_upg_modules" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png",
      "position" : [403, 167],
      "pressedOffset" : [0, 0],
      "callback" : "select_upgrade"
    },

    "cap_max_fuel" : {
      "type" : "image",
      "file" : "",
      "position" : [243, 162],
      "zlevel" : 2,
      "visible" : true
    },
    "cap_crew_size" : {
      "type" : "image",
      "file" : "",
      "position" : [342, 54],
      "zlevel" : 2,
      "visible" : true
    },
    "cap_cargo_size" : {
      "type" : "image",
      "file" : "",
      "position" : [342, 81],
      "zlevel" : 2,
      "visible" : true
    },
    "cap_fuel_efficiency" : {
      "type" : "image",
      "file" : "",
      "position" : [243, 81],
      "zlevel" : 2,
      "visible" : true
    },
    "cap_ship_speed" : {
      "type" : "image",
      "file" : "",
      "position" : [243, 54],
      "zlevel" : 2,
      "visible" : true
    },
    "bar_max_fuel" : {
      "type" : "image",
      "file" : "/interface/namje_shipservice/stat_0.png",
      "position" : [243, 162],
      "zlevel" : 3,
      "visible" : true
    },
    "bar_crew_size" : {
      "type" : "image",
      "file" : "/interface/namje_shipservice/stat_0.png",
      "position" : [342, 54],
      "zlevel" : 3,
      "visible" : true
    },
    "bar_cargo_size" : {
      "type" : "image",
      "file" : "/interface/namje_shipservice/stat_0.png",
      "position" : [342, 81],
      "zlevel" : 3,
      "visible" : true
    },
    "bar_fuel_efficiency" : {
      "type" : "image",
      "file" : "/interface/namje_shipservice/stat_0.png",
      "position" : [243, 81],
      "zlevel" : 3,
      "visible" : true
    },
    "bar_ship_speed" : {
      "type" : "image",
      "file" : "/interface/namje_shipservice/stat_0.png",
      "position" : [243, 54],
      "zlevel" : 3,
      "visible" : true
    },
    "module_slots" : {
      "type" : "list",
      "position" : [403, 167],
      "fillDown" : true,
      "scissoring" : false,
      "columns" : 1,
      "schema" : {
        "spacing" : [1, 1],
        "memberSize" : [18, 22],
        "listTemplate" : {
        "slot": {
            "type": "itemslot",
            "rightClickCallback" : "null",
            "position": [0, 0],
            "showCount": false,
            "showDurability": false,
            "zlevel" : 2,
            "backingImage": "/interface/inventory/empty.png"
          }
        }
      }
    },
    "disabled_mod_slots" : {
      "type" : "list",
      "position" : [403, 167],
      "fillDown" : true,
      "scissoring" : false,
      "columns" : 1,
      "schema" : {
        "spacing" : [1, 1],
        "memberSize" : [18, 22],
        "listTemplate" : {
          "slot": {
            "type" : "image",
            "file" : "/interface/namje_shipservice/upgradelocked.png",
            "position" : [0, 0],
            "zlevel" : 3,
            "visible" : false
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [ 
    "checkout", 
    "select_upgrade",
    "select_slot", 
    "tb_ship_name",
    "tb_revert",
    "spin_count.up",
    "spin_count.down"
  ],
  "scripts": ["/interface/namje_shipservice/namje_shipservice.lua"],
  "scriptDelta": 1
}
