{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/namje_shipservice/header.png",
      "fileBody" : "/interface/namje_shipservice/body.png",
      "fileFooter" : "/interface/namje_shipservice/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [410, 195]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Ship Service Technician",
      "subtitle" : "Register ships, or upgrade them! LMB - Increase level, RMB - Decrease level",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/culinaryarts.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "checkoutButton" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [3, 22],
      "caption" : "CHECKOUT",
      "callback" : "checkout"
    },
    "imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [7, 10],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [21, 10],
      "hAnchor" : "left",
      "value" : "0"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [4, 109, 186, 182],
      "children" : {
        "bookmarkItemList" : {
          "type" : "list",
          "callback" : "selectDestination",
          "schema" : {
            "selectedBG" : "/interface/warping/warpentryselected.png",
            "unselectedBG" : "/interface/warping/warpentry.png",
            "spacing" : [0, 2],
            "memberSize" : [170, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/warping/warpentry.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "position" : [2, 2],
                "file" : "/interface/bookmarks/icons/teleporter.png",
                "mouseTransparent" : true
              },
              "name" : {
                "type" : "label",
                "position" : [23, 10],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "Very very long ship name",
                "color" : [255, 255, 255],
                "mouseTransparent" : true
              },
              "model" : {
                "type" : "label",
                "position" : [23, 2],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "AOM Kellion",
                "color" : [180, 180, 180],
                "mouseTransparent" : true
              }
            }
          }
        }
      }
    },
    "lblStatus" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [307, 30],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Travel speed within a system."
    }
  },

  "scriptWidgetCallbacks" : [ "checkout" ],
  "scripts": ["/interface/namje_shipservice/namje_shipservice.lua"],
  "scriptDelta": 5
}
