{
    "ship_icons": [
        "/namje_ships/ship_icons/generic_1.png",
        "/namje_ships/ship_icons/generic_2.png",
        "/namje_ships/ship_icons/generic_3.png",
        "/namje_ships/ship_icons/generic_4.png",
        "/namje_ships/ship_icons/generic_5.png",
        "/namje_ships/ship_icons/generic_6.png",
        "/namje_ships/ship_icons/pebguin.png",
        "/namje_ships/ship_icons/flower.png",
        "/namje_ships/ship_icons/mining.png",
        "/namje_ships/ship_icons/sword.png",
        "/namje_ships/ship_icons/kazooship.png",
        "/namje_ships/ship_icons/qsmastership1.png",
        "/namje_ships/ship_icons/qsmastership2.png"
    ]
}