{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/namje_shiplicense/header.png",
      "fileBody" : "/interface/scripted/namje_shiplicense/body.png",
      "fileFooter" : "/interface/scripted/namje_shiplicense/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Revert to previous ship",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_shiplicense/namje_ship_swap_confirm_icon.png",
        "zlevel" : -1
      }
    },

    "lblDesc1" : {
      "type" : "label",
      "position" : [15, 54],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "You are swapping back to your last ship. This action is ^red;irreversible.^reset;\n\nYou will lose your current ship with no option to revert back to it.\n\nYour previous ship's wiring will also be disconnected and will have to be connected again manually. This is a starbound limitation.\n\nAre you sure you want to revert to your previous ship?\n\n\n\n\n"
    },

    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [15, 35],
      "pressedOffset" : [0, 0],
      "callback" : "swapShip"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/title/cancelup.png",
      "hover" : "/interface/title/cancelover.png",
      "pressed" : "/interface/title/cancelover.png",
      "pressedOffset" : [0, 0],
      "position" : [75, 35]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/namje_shiplicense/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "swapShip"
  ],

  "scripts" : ["/interface/scripted/namje_shiplicense/namje_ship_swap_confirm.lua"],
  "scriptDelta" : 5
}
