{
    "ship" : "namje_startershuttle",

    "name" : "AOM Kellion",
    "description" : "An auxillary maintenance shuttle utilized by the Protectorate for assisting in ship repairs and other errands. Cramped and not suited for long voyages, plus it was damaged in the escape... but it should be enough to get you started.",
    "manufacturer" : "Terrene Protectorate",
    "manufacturer_icon" : "/atelier_ships/manufacturers/protectorate.png",
    "recommended_crew_size" : "1-2",

    "base_stats" : {
        "capabilities" : [],
        "fuel_efficiency" : 0,
        "max_fuel" : 1000,
        "ship_speed" : 25,
        "crew_size" : 2
    },
    "atelier_stats" : {
        "cargo_hold_size" : 64,
        "teleporter_position" : [67, 39]
    }
}