{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/bookmarks/edit/header.png",
      "fileBody" : "/interface/bookmarks/edit/body.png",
      "fileFooter" : "/interface/bookmarks/edit/footer.png"
    },
    "ok" : {
      "type" : "button",
      "callback" : "ok",
      "base" : "/interface/bookmarks/edit/buttonup.png",
      "hover" : "/interface/bookmarks/edit/buttonover.png",
      "position" : [108, 28],
      "caption" : "Accept"
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [133, 65],
      "callback" : "randomize"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/bookmarks/edit/buttonup.png",
      "hover" : "/interface/bookmarks/edit/buttonover.png",
      "position" : [6, 28],
      "caption" : "Cancel",
      "callback" : "cancel"
    },
    "lbl_title" : {
      "type" : "label",
      "position" : [80, 92],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "centered" : true,
      "fontSize" : 16,
      "value" : "New Ship"
    },
    "img_icon" : {
      "type" : "image",
      "position" : [44, 67],
      "file" : "/namje_ships/ship_icons/generic_1.png"
    },
    "lbl_icon" : {
      "type" : "label",
      "position" : [9, 78],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "Icon"
    },
    "spin_count" : {
      "type" : "spinner",
      "position" : [35, 70],
      "upOffset" : 26
    },
    "name" : {
      "type" : "textbox",
      "callback" : "confirm_slot",
      "position" : [11, 50],
      "hint" : "Enter ship name",
      "enterKey" : "ok",
      "escapeKey" : "close",
      "maxWidth" : 134,
      "regex" : "[a-zA-Z0-9 '-?!.]{0,25}"
    }
  },
  "scriptWidgetCallbacks" : [
    "ok",
    "cancel",
    "randomize",
    "spin_count.up",
    "spin_count.down",
    "confirm_slot"
  ],
  "scripts" : ["/interface/namje_shipslotselect/namje_registershipinfo.lua"],
  "scriptDelta" : 5
}
