{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/warping/warpheader.png",
      "fileBody" : "/interface/warping/warpbody.png",
      "fileFooter" : "/interface/warping/warpfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [171, 161]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Registering ship",
      "subtitle" : "Choose a slot for your ship",
      "icon" : {
        "type" : "image",
        "file" : "/interface/namje_shipslotselect/icon.png",
        "zlevel" : -1
      }
    },
    "btn_register" : {
      "type" : "button",
      "base" : "/interface/warping/buttonup.png",
      "hover" : "/interface/warping/buttonover.png",
      "position" : [68, 25],
      "caption" : "Register",
      "callback" : "confirm_slot"
    },
    "slot_list" : {
      "type" : "scrollArea",
      "rect" : [4, 48, 184, 148],
      "children" : {
        "slot_item_list" : {
          "type" : "list",
          "callback" : "select_slot",
          "schema" : {
            "selectedBG" : "/interface/warping/warpentryselected.png",
            "unselectedBG" : "/interface/warping/warpentry.png",
            "spacing" : [0, 2],
            "memberSize" : [170, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/warping/warpentry.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "position" : [2, 2],
                "file" : "/interface/bookmarks/icons/ship.png",
                "mouseTransparent" : true
              },
              "name" : {
                "type" : "label",
                "position" : [23, 10],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "Empty Slot",
                "color" : [255, 255, 255],
                "mouseTransparent" : true
              },
              "model" : {
                "type" : "label",
                "position" : [23, 2],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "",
                "color" : [180, 180, 180],
                "mouseTransparent" : true
              }
            }
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "select_slot",
    "confirm_slot"
  ],

  "scripts" : ["/interface/namje_shipslotselect/namje_shipslotselect.lua"],
  "scriptDelta" : 5
}