{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/playerstationconsole/header.png",
      "fileBody" : "/interface/scripted/playerstationconsole/body.png",
      "fileFooter" : "/interface/scripted/playerstationconsole/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Template Saved",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_saveshiptemplate/icon.png",
        "zlevel" : -1
      }
    },

    "lbl" : {
      "type" : "label",
      "position" : [13, 29],
      "hAnchor" : "left",
      "wrapWidth" : 170,
      "fontSize" : 7,
      "value" : "Your ship code has been saved to your clipboard. You can share it as is, or create a ship template with it.\nReview ^yellow;Making your own ship template^reset; on the Github page for more information."
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  }
}
