{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/namje_shiplicense/header.png",
      "fileBody" : "/interface/scripted/namje_shiplicense/body.png",
      "fileFooter" : "/interface/scripted/namje_shiplicense/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Ship Swap Contract",
      "subtitle" : " That new ship smell",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_shiplicense/namje_ship_swap_confirm_icon.png",
        "zlevel" : -1
      }
    },

    "lblDesc1" : {
      "type" : "label",
      "position" : [15, 54],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "Ship trade-ins are ^red;irreversible!^reset;\n\nYour previous ship will be completely replaced, and all it's tiles and objects will be ^red;unretrievable.^reset; Any items in containers will be returned to you in a box, and items in your ship's cargo hold will remain.\n\nAny crewmates and creatures on your previous ship will be transferred over, and your ship's fuel will also be transferred to your new ship.\n\nIt is recommended to empty your ship of all items and valuable objects (such as crafting stations) before swapping ships.\n\n^orange;Are you sure you want to swap ships?^reset;"
    },

    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [15, 35],
      "pressedOffset" : [0, 0],
      "callback" : "swapShip"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/title/cancelup.png",
      "hover" : "/interface/title/cancelover.png",
      "pressed" : "/interface/title/cancelover.png",
      "pressedOffset" : [0, 0],
      "position" : [75, 35]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/namje_shiplicense/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "swapShip"
  ],

  "scripts" : ["/interface/scripted/namje_shiplicense/namje_ship_swap_confirm.lua"],
  "scriptDelta" : 5
}
