{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/namje_existingchar/header.png",
      "fileBody" : "/interface/scripted/namje_existingchar/body.png",
      "fileFooter" : "/interface/scripted/namje_existingchar/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " namjeShipwright - Existing character",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_existingchar/namje_existingchar_icon.png",
        "zlevel" : -1
      }
    },

    "lblDesc1" : {
      "type" : "label",
      "position" : [15, 80],
      "hAnchor" : "left",
      "wrapWidth" : 165,
      "fontSize" : 7,
      "value" : "^red;Existing character detected!^reset;\n\nnamjeShipwright systems won't be active until you enable it using the ^orange;'Enable BYOS'^reset; item given to you. Don't discard it.\n\nYour original ship is still intact, and the background can be reverted. Uninstall namjeShipwright to return to it. Enabling this mod's BYOS is irreversible.\n\nIf you are using FU BYOS, you can keep using your pre-existing ship alongside this mod's BYOS."
    },
  
    "close" : {
      "type" : "button",
      "base" : "/interface/title/cancelup.png",
      "hover" : "/interface/title/cancelover.png",
      "pressed" : "/interface/title/cancelover.png",
      "pressedOffset" : [0, 0],
      "position" : [75, 35]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/namje_existingchar/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  }
}
