{
  "paneLayer" : "hud",
  "dismissable" : false,
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/namje_existingchar/header.png",
      "fileBody" : "/interface/scripted/namje_existingchar/body2.png",
      "fileFooter" : "/interface/scripted/namje_existingchar/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " namjeShipwright - Existing character",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_existingchar/namje_existingchar_icon.png",
        "zlevel" : -1
      }
    },

    "lbl_desc" : {
      "type" : "label",
      "position" : [148, 212],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 270,
      "fontSize" : 11,
      "value" : "Choose your BYOS template"
    },

    "lbl_stats" : {
      "type" : "label",
      "position" : [10, 120],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "Base Stats"
    },
    "lbl_upg" : {
      "type" : "label",
      "position" : [10, 75],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^white;These stats can be upgraded later."
    },
    "lbl_stats_1" : {
      "type" : "label",
      "position" : [10, 110],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^gray;Fuel Eff.\nMax Fuel\nShip Speed"
    },
    "lbl_stats_1_num" : {
      "type" : "label",
      "position" : [95, 110],
      "hAnchor" : "right",
      "vAnchor" : "top",
      "value" : "^white;N/A\nN/A\nN/A"
    },
    "lbl_stats_2" : {
      "type" : "label",
      "position" : [103, 110],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^gray;Crew Cap\nCargo Cap\nModule Slots"
    },
    "lbl_stats_2_num" : {
      "type" : "label",
      "position" : [188, 110],
      "hAnchor" : "right",
      "vAnchor" : "top",
      "value" : "^white;N/A\nN/A\nN/A"
    },

    "ship_image" : {
      "type" : "image",
      "position" : [6, 126],
      "file" : "/namje_ships/missing_preview.png",
      "maxSize" : [191, 100],
      "minSize" : [191, 100]
    },

    "ship_select" : {
      "type" : "scrollArea",
      "rect" : [202, 55, 285, 193],
      "children" : {
          "ship_list" : {
              "type" : "list",
              "callback" : "select_ship",
              "schema" : {
                  "spacing" : [0, 0],
                  "memberSize" : [73, 20],
                  "listTemplate" : {
                      "item_background" : {
                          "type" : "image",
                          "file" : "/interface/scripted/namje_existingchar/list_item.png",
                          "position" : [0, 0],
                          "zlevel" : -1
                      },
                      "item_name" : {
                          "type" : "label",
                          "position" : [0, 10],
                          "hAnchor" : "left",
                          "vAnchor" : "mid",
                          "lineSpacing" : 1.0,
                          "wrapWidth" : 137
                      }
                  }
              }
          }
      }
  },
  
    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [15, 30],
      "pressedOffset" : [0, 0],
      "callback" : "confirm"
    },

    "menu" : {
      "type" : "button",
      "base" : "/interface/scripted/namje_existingchar/menuup.png",
      "hover" : "/interface/scripted/namje_existingchar/menuhover.png",
      "pressed" : "/interface/scripted/namje_existingchar/menuhover.png",
      "pressedOffset" : [0, 0],
      "position" : [75, 30],
      "callback" : "menu"
    }
  },
  "scriptWidgetCallbacks" : [
    "confirm", "menu", "select_ship"
  ],
  "scripts" : ["/interface/scripted/namje_existingchar/namje_choosebyos.lua"],
  "scriptDelta" : 5
}
