{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/playerstationconsole/header.png",
      "fileBody" : "/interface/scripted/playerstationconsole/body.png",
      "fileFooter" : "/interface/scripted/playerstationconsole/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Existing BYOS warning",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_saveshiptemplate/icon.png",
        "zlevel" : -1
      }
    },

    "lbl" : {
      "type" : "label",
      "position" : [13, 23],
      "hAnchor" : "left",
      "wrapWidth" : 170,
      "fontSize" : 7,
      "value" : "^yellow;Your ship has been transferred successfully, but you need to cache your ship's regions.^reset;\nDo this by just walking all over your ship's area, including any inaccessible parts of your ship. ^red;Without this, some chunks of your ship may not be saved on swap."
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  }
}
