{
  "paneLayer" : "hud",
  "dismissable" : false,
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/namje_existingchar/header.png",
      "fileBody" : "/interface/scripted/namje_existingchar/body.png",
      "fileFooter" : "/interface/scripted/namje_existingchar/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " namjeShipwright - Existing character",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/namje_existingchar/namje_existingchar_icon.png",
        "zlevel" : -1
      }
    },

    "lbl_title" : {
      "type" : "label",
      "position" : [148, 213],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 260,
      "fontSize" : 12,
      "value" : "^red;Existing character detected^reset;"
    },

    "lbl_desc" : {
      "type" : "label",
      "position" : [148, 195],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 270,
      "fontSize" : 7,
      "value" : "It's recommended to start a new character, but you are able to convert your existing character to use namjeShipwright.\n\n^red;Enabling namjeShipwright is irreversible.^reset; Make a backup of your character before enabling it!\n\nPress ^yellow;Accept^reset; to enable namjeShipwright. You will be prompted to choose a ship template to start on. ^red; Objects and items on your old ship will be overwritten, so it's recommended to clear your ship of valuables and then install namjeShipwright.^reset; Upgrade modules will be refunded based on ship level.\n^cyan;If BYOS / FU BYOS is installed, you have the option to retain your current ship model.^reset;\n\n Otherwise, press ^yellow;Return to Menu^reset; to return to the menu screen. Your original ship and all of its contents will be preserved."
    },
  
    "accept" : {
      "type" : "button",
      "base" : "/interface/title/acceptup.png",
      "hover" : "/interface/title/acceptover.png",
      "pressed" : "/interface/title/acceptover.png",
      "position" : [15, 30],
      "pressedOffset" : [0, 0],
      "callback" : "confirm"
    },

    "menu" : {
      "type" : "button",
      "base" : "/interface/scripted/namje_existingchar/menuup.png",
      "hover" : "/interface/scripted/namje_existingchar/menuhover.png",
      "pressed" : "/interface/scripted/namje_existingchar/menuhover.png",
      "pressedOffset" : [0, 0],
      "position" : [75, 30],
      "callback" : "menu"
    }
  },
  "scriptWidgetCallbacks" : [
    "confirm", "menu"
  ],
  "scripts" : ["/interface/scripted/namje_existingchar/namje_existingchar.lua"],
  "scriptDelta" : 5
}
