{
    "ship" : "namje_onyx",

    "name" : "Onyx D10 Corvette",
    "description" : "A smaller ship model meant for civilian use. It has a small cargo hold and crawlspace for storage. Cramped but cozy and functional.",
    "manufacturer" : "Dachi Staryards",
    "manufacturer_icon" : "/path/to/icon",
    "recommended_crew_size" : "1-3",

    "base_stats" : {
        "capabilities" : ["teleport", "planetTravel", "systemTravel"],
        "fuel_efficiency" : 0,
        "max_fuel" : 3000,
        "ship_speed" : 40,
        "crew_size" : 3
    },
    "atelier_stats" : {
        "cargo_hold_size" : 64,
        "teleporter_position" : [36, 29]
    }
}